/* Add a background color to the header element */
header{
    background-color:maroon;
    margin: 0;
    padding: 0;
}
/* Add a fun background color to the main element */
main{
    background-color: goldenrod;
    margin: 0;
    padding: 0;
}
/* Align the h1 containing your name in the center of the header*/
h1{
    text-align: center;
    margin: 0;
    padding: 0;
}
/* Make your p tag a different color and italic */
p{
    color: white;
    font-style: italic;
}
/* Put a border around your image */
img{
    border-style: solid;
    border-color: black;
}

/* Change the font-family of your list */
ul{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

/* Add a background color to the footer element */
footer{
    background-color: maroon;
    margin: 0;
    padding: 0;
}
h2{
    color: black;
    margin: 0;
    padding: 0;
}